<a href="https://colab.research.google.com/github/Rachanashenoy20/Machine-Learning/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Load csv file into pandas data frame
import pandas as pd

df = pd.read_csv('data.csv')

print(df.to_string())

In [3]:
#Creating pandas series from list
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [4]:
#Creating label
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [5]:
#Creating a Pandas Dataframe
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [ ]:
#To increase the maximum number of rows to display the entire DataFrame
import pandas as pd

pd.options.display.max_rows = 9999

df = pd.read_csv('data.csv')

print(df)

In [ ]:
#Replace null values with 100
import pandas as pd

df = pd.read_csv('data.csv')

df.fillna(100, inplace = True)